<br>
<article class="comment">
        <p id="comment-text">{{content}}</p>
        <p class="minor-text">Comment by: {{user.username}} on {{format_date created_at}}</p>
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>

</article>