<article class="post">
    <div class="title">
        <a href="/api/posts/{{id}}">
            <h4>{{title}}</h4>
        </a>
        <p class="minor-text">Created on: {{format_date created_at}}</p>
    </div>
</article>