<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Blogtastic</title>
    <meta name="description"
        content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ipsa vel adipisci eveniet nihil velit beatae, dolore ducimus iste blanditiis reprehenderit? Officiis dolorum similique totam repudiandae dolore necessitatibus quis sed.">
</head>

<body>
    <div id="background" class="whole-page container-fluid">

        <div class="row d-flex align-items-center" id="header-row">

            <header class="col-9 d-flex justify-content-center">
                <img id="hs" src="/images/toroid.png"
                    alt="A drawing of a red and blue horseshoe magnet with lines tracing the direction of the magnetic flux from each pole which evoke the legs of a spider">
                <h1 class="blend-mode">Blogtastic!</h1>

            </header>
            <nav class="col-3 d-flex justify-content-between">
                <a href="/">homepage</a>
                <a href="/dashboard">dashboard</a>
                {{#if loggedIn}}
                <a id="logout" href="#">logout</a>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>

        </div>
        <div class="row d-flex align-items-start" id="overlay">
            <div class="col">
            {{{ body }}}

            </div>
        </div>


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/logout.js"></script>

</body>

</html>