<h3>Dashboard</h3>
<br>
<form action="/dashboard/new-post">
  <input type="submit" value="Write a New Post" />
</form>
<br>
{{#if plainData.length}}
<section>
  <h4>Your Posts</h4>
  <ul>
    {{#each plainData as |post|}}
    <li>
      {{> post-partial post}}
      <a href="/dashboard/edit/{{post.id}}" class="minor-text edit-link">Edit post</a>
      <br>
      <br>
      <br>

    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
<script src="/js/dashboard.js"></script>