<h1>POST EDIT</h1>
 <form class="edit-post-form">
    <div id="art" data-post-id="{{post.id}}">
      <input id="post-title" type="text" value="{{post.title}}" />
      <textarea id="post-content">{{post.content}}</textarea>
    </div>
    <div>
       Originally created on {{format_date post.created_at}}
    </div>
    <button type="submit" id="save-post-btn">Save post</button>
    <button type="button" id="delete-post-btn">Delete post</button>
  </form>

  <script src="/js/dashboard.js"></script>