<div class="row">
    <div class="col-8 d-flex justify-content-around align-items-center">
        <button id="sign-in" type="submit">Sign In</button>
        <button id="sign-up" type="submit">Sign Up</button>
    </div>
</div>